extends ../shared/layout

block content
  h2 Welcome
  p Simple MVC powered by Express, written in TypeScript and Pug.
  p It can be used as a starting point for a simple website or complex applications.
  p Because it is powered by Express, it is extremely flexible.
